body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  border: 2px solid red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.logo-header{
  display: flex;
  border: 2px solid blue;
  background-color: slategrey;
  height: 300px;
}

header img {
  max-height: 300px;
  max-width: 700px;
  margin: auto;
}
.me-section{
  display: flex;
  max-width: 85%;
  margin: auto;
}

.about-me{
  border: 3px solid gold;
  width: 100%; 
}

.projects{
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 85%;
  margin: auto;
  
}

.projects h2 {
  border-radius: 20px;
  border: 1px dotted orange; 
  height: 75px;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  width: 90%;
  margin: auto;
  background-color: slategray;  
}


.carousel {
  width: 75%;
  margin: auto;
  border-radius: 45px;
  

}
.carousel img {
  border-radius: 45px;
  width: 70%;
}

.game {
  display:flex;
  flex-direction: column;
  border: 2px dotted red;
  border-radius: 30px;
  width: 90%;
  margin: auto 
}
#game-description p{
  border: 2px solid gold;
  border-radius: 40px;
  text-align: center;
  max-width: 75%;
  margin: auto;
  overflow:hidden;
}

.madlib {
  border: 2px dotted red;
  border-radius: 30px;
  width: 90%;
  margin: auto 
}

.business-site{
  border: 2px dotted red;
  border-radius: 30px;
  width: 90%;
  margin: auto 
}

.rest-rant{
  border: 2px dotted red;
  border-radius: 30px;
  width: 90%;
  margin: auto 
}

.skills{
  border: 3px solid aqua;
  width: 100%
}






